*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: #ffe5b4;
}
.startButton{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.start-quiz-btn{
  padding: 15px 30px;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  background: #ff8c00;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  /* transition: background 0.3s ease; */
}

.infoBox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  border-radius: 5px;

  width: 540px;
  background: #fff;
  border-radius: 5px;
  transform: translate(-50%, -50%), scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.infoBox.activeInfoBox{
  /* remove latter */
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%), scale(1); 
}

.info-box-title{
  display: flex;
  height: 60px;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  padding: 0 30px;
  border-radius: 5px 5px 0 0;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.info-list{
  padding: 15px 30px;
}

.info-rows{
  margin: 8px 0px;
  font-size: 16px;
}

.info-row-span{
  font-weight: 600;
  color: blue;
}

.footer{
  height: 60px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 0px 30px;
  border-top: 1px solid lightgray;
}

.footer .exit-btn{
  padding: 8px 16px;
  font-size: 17px;
  font-weight: 500;
  color: #007bff;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #007bff;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-right: 15px;
}
.exit-btn:hover{
  color: #fff;
  background: #007bff;
}

.footer .continue-btn{
  padding: 8px 16px;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  background: #007bff;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.quiz-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);

  width: 550px;
  background: #ffffff;
  border-radius: 5px;
  transform: translate(-50%, -50%), scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.quiz-box.activeQuizBox{
  /* remove latter */
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%), scale(1);
}

.quiz-header-section{
  height: 70px;
  background: #ffffff;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz-titleContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 70px;
} 
.quiz-titleContainer .quiz-title{
  font-size: 20px;
  font-weight: 600;
}
.quiz-titleContainer .timelineContainer{
  display: flex;
  align-items: center;
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
  height: 45px;
  padding: 0px 8px;
  border-radius: 5px;
  justify-content: space-between;
  width: 145px;
}

.timelineContainer .time-line-title{
  font-size: 17px;
  font-weight: 500;
  user-select: none;
}
.timelineContainer .time-line{
  font-size: 18px;
  font-weight: 500;
  height: 30px;
  width: 45px;
  color: #fff;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  background: #343a40;
  border: 1px soloid #343a40;
  user-select: none;
}

.quiz-header-section .progressBar{
  height: 3px;
  width: 0%;
  background:blue;
  transition: all 0.5s ease;
}

.quiz-content-section{
  padding: 25px 30px 20px 30px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.quiz-content-section .quetionText{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}
.quiz-content-section .option-list-container{
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
}
.options{
  background: aliceblue;
  border: 1px solid #84c5fe;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 17px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

  .options.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
  }
  .options.wrong{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
  }
  .options.disabled{
    pointer-events: none;
  }
  .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
  }
  .icon.tick{
    color: #23903c;
    background: #d4edda;
    border-color: #23903c;
  }
  .icon.cross{
    color: #dc3545;
    background: #f8d7da;
    border-color: #dc3545;
  }


.quiz-footer-section{
  height: 60px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgray;
}
.quiz-footer-section .quiz-footer-text .highlited-text{
  font-weight: 500;
  padding: 0px 5px;
}
.quiz-footer-section .nextBtn{
  height: 40px;
  padding: 0px 13px;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  background: #ff8c00;
  border: 1px solid #ff8c00;
  line-height: 10px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.95);
  transition: all 0.3s ease;
}

.nextBtn.active{
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  background: #ff7f50;
}
.resultBox{
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  padding: 25px 30px;
  width: 450px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;

  /* opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1); */
}
.CrownIcon{
  font-weight: 900;
  font-size: 100px;
  color: #007bff;
}
.completedText{
  font-size: 20px;
  font-weight: 500;
}
.scoreText{
  span{
    display: flex;
    margin: 10px 0px;
    font-size: 16px;
    font-weight: 500;
  }
  p{
    padding: 0 4px;
    font-weight: 600;
  }
}
.result-box-buttons-container{
  display: flex;
  margin: 20px 0px;

  button{
    margin: 0 10px;
    height: 45px;
    padding: 0px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
  }
  .replay-quiz{
    color: #fff;
    background: #007bff;
  }
  .quit-quiz{
    color: #007bff;
    background: #fff;
  }
  .quit-quiz:hover{
    color: #fff;
    background: #007bff;
  }
  
}

.resultBox.activeResultBox{
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}